body{
    padding:0;
    margin:0;
}
.header{
    height: 50px;
    background-color:rgb(243, 221, 99);
    color: blue;
    border: 1px solid black;
    padding: .5rem;
    align-items: center;
    display: flex;
    position: fixed;
    top:0;left:0;right:0;
    overflow: hidden;
    z-index: 1;

}
.menu{
    border-radius: 2rem;
    color: rgb(202, 46, 22);
    background-color: antiquewhite;
}


.parhit{
    margin-left: 1rem;
}
.logo{
    height: 60px;
    width: 80px;
    margin-left: 3rem;
    
}
.social-icons{
    background-color:rgb(243, 221, 99);
    height: fit-content;
    width: fit-content;
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
    text-align: justify;
    margin-right: 1rem;

}
.donate{
    height: 2rem;
    margin-right: 2rem;
    background-color:green;
    color: white;
    border: 1px solid white;
    border-radius: 4rem;
}
.social-icons a {
  margin-right: 5px; /* Space between icons */
  display: inline-block; /* Allow margin to work */
}

.social-icons img {
  width: 30px; /* Example size */
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.social-icons a:hover {
  opacity: 0.7; /* Add a hover effect */
}

/* first intro */
.intro{
    margin-top: 1rem;
    height: fit-content;
    background-color:rgb(207, 237, 218);
    display: flex;

}
/* .p1{
    color: black;
    margin-left: 2rem;
   
    
} */

.p1{
    margin-left: 2rem;
    padding-bottom: 2rem;
    max-width: 40%;
    text-align: justify;
   
}

.donation{
    margin-top: 1rem;
    margin-left: 4rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
  
    
}
.d1{
    margin-top: 1rem;
    height: 8.5rem;
    width: 10rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color:rgb(243, 221, 99) ;
    color: red;
    font-weight: bold;
    text-align: center;
}
.d1:hover{
    opacity: 0.7;
    height: 10rem;
}
.imgs{
    height: 2rem;
    width: 2rem;
}
.d2{
  
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:green;
    color: white;
    border: 1px solid white;
    border-radius: 4rem;
    
}

.p2{
    margin-left: 5rem;
    max-width: 40%;
    text-align: justify;
    margin-right: 2rem;
}
#space{
    margin-left: 5rem;
}


/* Scrolling Part */
.scroll-container {
       margin-top: 5rem;
       border-top: 2px solid rgb(150, 96, 106);  
       border-bottom: 2px solid rgb(150, 96, 106);   
      
       margin-left: 2%;
       width: 95%;
       overflow: hidden;
       display: grid;
}

.image-track {
       display: flex;
       animation: scroll 35s both linear infinite; 
       
       /* Adjust duration for speed */
}

.image-track img {
       width: 80%; /* Adjust as needed */
       height: 300px;
       margin-right: 2%; /* Add spacing between images */
}


@keyframes scroll {
       0%{ transform: translateX(0); }
      100%{ transform: translateX(-300%); } /* Adjust based on the number of images */
}
.image-track:hover {
    animation-play-state: paused;
}


.brief{
    margin-top: 1rem;
    height: fit-content;
    display: flex;
    background-color: rgb(118, 161, 200);  
}

.para1{
    margin-top: 1rem;
    margin: 3rem;
    width: fit-content;
    height: fit-content;
    text-align: justify;
    color:black;
}
.donor{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.donor-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.donors-logo{
    height: 15rem;
    width: 15rem;
    margin-right: 4rem;
    border: 2px solid black;
}

.footer{
    margin-top: 1rem;
    padding-top: 1rem;
    height: fit-content;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 5px solid white;
}
.footer-icon{
    margin-left: 3rem;
    height: 1rem;
    width: 1rem;
    border: 1px solid white;
}